HELP.md
.gradle
!gradle/wrapper/gradle-wrapper.jar
/core/build/
/backend/build/
/models/build/
/webui/core/build/
/webui/html/build/
/webui/lwjgl3/build/
/webui/html/war/

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/core/bin
/backend/bin/
/models/bin/
/webui/core/bin/
/webui/html/bin/
/webui/lwjgl3/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/core/out/
/backend/out/
/models/out/
/webui/core/out/
/webui/html/out/
/webui/lwjgl3/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
